@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-font/Raleway-Regular.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
    color: #444;
}

h1,
h2 {
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: #444;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1rem;
    font-family: "Raleway";
    transition: background-color 0.3s ease-in-out;
}

.btn-grey {
    background-color: white;
    color: black !important;

}

.btn-grey:hover {
    background-color: #add43c;
}

.btn-blue {
    background-color: #3cadd4;
    color: #fff !important;
}

.btn-blue:hover {
    background-color: #47c8f4;
}

.btn-dark {
    background-color: #383b43;
    color: white;
}

.btn-dark:hover {
    background-color: #484d57;
}

.btn-big {
    font-size: 1.5rem;
    padding: 1rem 3rem;
}


header {
    padding: 1rem 0;
    height: 100vh;
    background-image: url(../img/dark_tint.png), url(../img/bokeh_car_lights_bg.jpg);
    background-position: center center;
    background-size: cover;

}


@media only screen and (max-width:556px) {
    header {
        height: auto;
    }
}

.top-menu {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.transit-top {
    /* float: left; */
    color: white;
    margin: 1rem;
    position: relative;
    top: 1rem;
    transition: border-bottom 0.3s ease-in-out;

}

.top-menu-nav {
    text-align: right;
    width: 40vw;
}

.top-menu-links {
    display: flex;
    flex-direction: column;
}

.top-menu-nav>ul>li {
    list-style-type: none;
    padding: 0 1rem
}

.top-menu-nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in-out;
    padding: 1rem 0.7rem;
    font-size: 1.3rem;

}

/* top menu hover */
.top-menu-nav ul li a:hover {
    color: white;
}

.transit-top:hover {
    border-bottom: 3px solid white;
}

.banner-content {
    text-align: center;
    color: white;
}

.banner-content h2 {
    font-size: 4rem;

}

.banner-content p {
    font-size: 1.5rem;

    line-height: 7rem;
}

.banner-btn {
    padding: 1.5rem 2.5rem;
    border-radius: 8rem;

}

.banner__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-menu-nav ul li {
    display: inline-block;
    padding: 1rem 0;
    width: 100%;
}

.banner__container {
    justify-content: center;
}

/* services / first part */
.services {
    height: auto;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    padding: 3.8rem;
    text-align: center;
}

@media only screen and (min-width:992px) {
    .services {
        height: 100vh;
        width: 100%;
    }
}


.services-header h2 {
    color: #474747;
    margin-bottom: 1vw;
    font-size: 47px;
}

.services-header p {
    margin-bottom: 7rem;
    color: #858585;
    font-size: 24px;

}

.icon::before {
    font-family: FontAwesome;
    font-style: normal;

}

.round {
    border-radius: 100%;
    font-size: 70px;
    color: white;
    padding: 35px 45px;
}

.fa-cloud {
    background-color: #3cadd4;
}

.fa-laptop {
    background-color: #add43c;
}

.fa-rocket {
    background-color: #d43;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;

}

.services-content div {
    background-color: white;
    width: 20rem;
    height: 30rem;
    margin: 2rem 0;
    border: 1px solid rgba(144, 144, 144, 0.25);
    border-radius: .4rem;

}

@media screen and (min-width:992px) {
    .services-content div {
        width: 25rem;
    }
}

.courses {
    height: 30rem !important;
}

.services-content div p {
    padding: 8.125rem 15px;
    line-height: 1.5rem;
    color: #858585;
    vertical-align: center;
}

.services-content div ul li {
    list-style-type: upper-alpha;
    padding: 0;

}

@media screen and (min-width:768px) {

    .services-content div {
        padding: 20px 0;
        margin: 30px 0;
    }

}

@media screen and (min-width:992px) {
    .services-content {
        flex-direction: row;
    }

    .top-menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.about {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #f7fbff;
    padding: 90px 0;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header h2 {
    color: #474747;
    margin-bottom: 1vw;
    font-size: 47px;

}

.about-header p {
    margin-bottom: 5rem;
    color: #858585;
    font-size: 24px;
}

.about hr {
    width: 85%;
    margin: auto;
    pad: 50px 0;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}


.profile img {
    border-radius: 100%;

}

.profile h4 {
    margin-top: 20px;
}

.profile p {
    line-height: 25px;
    margin-top: 2rem;
}

@media only screen and (min-width:992px) {
    .about-main {
        flex-direction: row;
        align-items: center;
    }

    .profile {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .profile p {
        line-height: 25px;
        margin-top: 0rem;
    }
}






.about-footer p {
    line-height: 25px;
    font-size: 15px;
    color: #858585;
    padding-top: 50px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

/* contact */
.contact {
    background-color: #3cadd4;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.contact-header {
    text-align: center;

}

.contact-header h2 {
    font-size: 47px;
    margin-bottom: 15px;
}

.contact-header p {
    font-size: 1.5rem;
    padding-bottom: 70px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
}

,
.contact-content form {
    width: 100vw;
}

.contact__information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type='text'],
input[type="email"] {
    width: 100%;
    color: #444;
    margin: 10px 0;
    border-radius: 3px;
    border-style: none;
    padding: 15px 0;
    outline: none;
    height: auto;
}

textarea {
    color: #444;
    outline: none;
    width: 100%;
    height: 28vh;
    border-style: none;
    border-radius: 4px;
    margin: 15px 0;
    padding: 5px 30px;
    padding-left: 10px !important;
    resize: none;

}

::placeholder {
    color: #858585;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}


@media only screen and (min-width:650px) {
    .contact-input {
        display: flex;
        flex-direction: row;
        width: 84vw;
        justify-content: space-between;
    }

    input[type='text'],
    input[type="email"] {
        width: 45%;
    }

    @media only screen and (min-width:992px) {
        .contact-input {
            display: flex;
            flex-direction: row;
            width: 65vw;
            justify-content: space-between;
        }

        input[type='text'],
        input[type="email"] {
            width: 45%;

        }
    }

    @media only screen and (min-width:1200px) {
        .contact-input {
            display: flex;
            flex-direction: row;
            width: 50vw;
            justify-content: space-between;
        }

        input[type='text'],
        input[type="email"] {
            width: 45%;
        }

        textarea {
            width: 50vw;
        }
    }
}
    /* footer */
    footer {
        background-color: #383b43;
        padding: 7vh 0;
        color: #858585;

    }

    footer ul li {
        display: inline;
        padding: 0 20px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
    }

    footer ul li:hover {
        color: darkgoldenrod;
    }

    footer ul li a {
        color: #858585;
    }

    .fa-twitter,
    .fa-instagram {
        font-size: 40px !important;
        padding-top: 20px;
        transition: color 0.3s ease-in-out;
    }

    .email-footer a {
        transition: color 0.3s ease-in-out;

    }

    .fa-twitter:hover {
        color: #3cadd4;
    }

    .fa-instagram:hover {
        color: #d43;
    }

    .email-footer a:hover {
        color: #add43c;
    }

    @media screen and (max-width:890px) {

        li:nth-last-of-type(3),
        li:nth-last-of-type(4),
        li:nth-last-of-type(5) {
            width: 100%;
            display: block;
        }
    }